<div
  class=""
  style="
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
  "
>
  <mat-card class="login-card">
    <mat-card-title style="display: flex; justify-content: center"
      >Login</mat-card-title
    >
    <form [formGroup]="loginForm">
      <mat-form-field class="login-form">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Enter Email" formControlName="email" />
        <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
          Required Email!
        </mat-error>
        <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
          Invalid Email Format!
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          matInput
          placeholder="Enter Password"
          formControlName="password"
          type="password"
        />
        <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
          Required Password!
        </mat-error>
        <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')">
          At Least 5 Characters!
        </mat-error>
      </mat-form-field>
    </form>
    <mat-card-actions class="card-actions" >
      <a routerLink="/register" style="text-decoration: none; color: black">Register</a>
      <button mat-raised-button color="primary" [disabled]="loginForm.invalid">
        Login
      </button>
    </mat-card-actions>
    <mat-card-footer>
      <mat-progress-bar mode="determinate"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
</div>
